.character-overview {
  padding: 0 30px;
  margin-bottom: 30px;
}

.character-stats {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
}

p, ul {
  margin: 0;
}

p{
  font-size: 16px;
  line-height: 1.8em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.grid-box {
  display: grid;
  flex-wrap: wrap;
  align-items: baseline;

}

.grid-box-item {
  margin-left: 1%;
}

nz-divider {
  color: #333;
  fontweight: normal;
}

.inner-box {
  background: #0092ff;
  padding: 8px 0;
}

.rarity-1 {
  color: #707172;
}

.rarity-2 {
  color: #6b9489;
}

.rarity-3 {
  color: #537595;
}

.rarity-4 {
  color: #725e8b;
}

.rarity-5 {
  color: #d88b26;
}
