<div class="row">
  <app-member-header *ngIf="false" [member]="member"></app-member-header>
  <app-member-nav *ngIf="false"></app-member-nav>
  <div *ngIf="false" class="character-overview">
    <h2>{{ localization.get(member.characterId).name }}</h2>
    <p class="overview-description">
    {{ localization.get(member.characterId).description }}
  </p>
  </div>
  <nz-divider *ngIf="false" nzText="Setup" nzOrientation="left"></nz-divider>
  <!-- Ascension enabled input -->
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-bottom: 2px">
    <div nz-col [nzSpan]="6">
      <label for="include_ascension_input" i18n="Include Ascension">Include ascension: </label>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-switch [(ngModel)]="member.enableAscension"
                 id="include_ascension_input"
                 (ngModelChange)="onAscensionEnabledChanged()">
      </nz-switch>
    </div>
  </div>
  <!-- Ascension input -->
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-bottom: 2px">
    <div nz-col [nzSpan]="6">
      <label for="ascension_input" i18n="Ascension">Ascension: </label>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-input-number [(ngModel)]="member.ascension"
                       [nzMin]="0"
                       [nzMax]="6"
                       [nzStep]="1"
                       id="ascension_input"
                       (ngModelChange)="onAscensionStageChanged()">
      </nz-input-number>
    </div>
  </div>
  <!-- Ascension enabled input -->
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-bottom: 2px">
    <div nz-col [nzSpan]="6">
      <label for="include_weapon_input" i18n="Include weapon">Include weapon: </label>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-switch [(ngModel)]="member.enableWeapon"
                 id="include_weapon_input"
                 (ngModelChange)="onWeaponAscensionEnabledChanged()">
      </nz-switch>
    </div>
  </div>
  <!-- Weapon input -->
  <div nz-row *ngIf="member.enableWeapon" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-bottom: 2px">
    <div nz-col [nzSpan]="6">
      <label i18n="Weapon">Weapon: </label>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-select nzShowSearch
                 nzAutoClearSearchValue
                 nzAllowClear
                 nzPlaceHolder="Select a weapon"
                 class="pseudo-fullwidth"
                 style="min-width: 350px;"
                 [(ngModel)]="member.weaponId"
                 (ngModelChange)="onWeaponChanged()"
      >
        <nz-option nzCustomContent
                   *ngFor="let entry of weapons.sortedMap.get(characters.get(member.characterId).weaponType) | keyvalue: weaponOrder"
                   [nzLabel]="localization.get(entry.value.id).name"
                   [nzValue]="entry.key"
        >
          <div>
            <div class="pull-left">
              <img [src]="'https://ik.imagekit.io/AstralJaeger/tr:w-64,h-64,c-force/GC/weapon_icons/' + entry.key + '.png'"
                   [alt]="entry.key"
                   style="max-height: 20px;">
                {{ localization.get(entry.value.id).name }}
            </div>
            <div class="pull-right">
              [{{ entry.value.rarity }}
              <fa-icon [icon]="['fas', 'star']" [ngClass]="'rarity-' + entry.value.rarity"></fa-icon>]
            </div>
          </div>
        </nz-option>
      </nz-select>
    </div>
  </div>
  <!-- Weapon ascension input -->
  <div *ngIf="member.enableWeapon && member.weaponId"
       nz-row
       [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
       style="margin-bottom: 2px">
    <div nz-col [nzSpan]="6">
      <label for="weapon_ascension_input" i18n="Weapon ascension">Weapon ascension: </label>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-input-number [(ngModel)]="member.weaponAsc"
                       [nzMin]="0"
                       [nzMax]="6"
                       [nzStep]="1"
                       id="weapon_ascension_input"
                       (ngModelChange)="onWeaponAscensionStageChanged()">
      </nz-input-number>
    </div>
  </div>
  <!-- Artifact input -->
  <div nz-row
       [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
       style="margin-bottom: 2px">
    <div nz-col [nzSpan]="6">
      <label for="artifact_input" i18n="Weapon ascension">Artifacts: </label>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-switch [(ngModel)]="member.enableArtifacts"
                 id="artifact_input"
                 (ngModelChange)="onArtifactEnabledChanged()">
      </nz-switch>
    </div>
  </div>
  <!-- Artifact select input -->
  <div nz-row *ngIf="member.enableArtifacts" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-bottom: 2px">
    <div nz-col [nzSpan]="6" nzOffset="6">
      <nz-select nzAllowClear
                 nzPlaceHolder="Select artifacts"
                 class="pseudo-fullwidth"
                 nzMode="tags"
                 style="min-width: 350px;"
                 [nzMaxMultipleCount]="maxArtifactCount"
                 [nzMaxTagCount]="5"
                 [(ngModel)]="member.artifacts"
                 (ngModelChange)="onArtifactChanged()">
        <nz-option-group *ngFor="let entry of artifacts.sortedArtifactMap | keyvalue"
                         [nzLabel]="toTitle(entry.key) | titlecase">
          <nz-option *ngFor="let artifactEntry of entry.value | keyvalue"
                     [nzLabel]="artifactEntry.value.name"
                     [nzValue]="artifactEntry.key">
          </nz-option>
        </nz-option-group>
      </nz-select>
    </div>
  </div>

  <!-- Talent input -->
  <div *ngIf="false" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col [nzSpan]="6">
      <label></label>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-input-number [nzMin]="1"
                       [nzMax]="90"
                       [nzStep]="1">
      </nz-input-number>
    </div>
  </div>
</div>
