<div class="container">
  <div class="row">
    <h2 i18n="Party Manager Title">Party Manager</h2>
  </div>
  <div class="row">
    <app-party (memberSelected)="onSelected($event)"
               (memberRemoved)="onRemoved($event)"
    ></app-party>
  </div>
  <div class="row" *ngIf="selectedCharacter;">
    <nz-divider [nzText]=" localization.get(selectedCharacter.character_id).name +  '\'s Setup'" nzOrientation="left"></nz-divider>
    <app-partymember-detail [member]="selectedCharacter"
                            (closeDetail)="onCloseDetail()"
                            (memberChanged)="onMemberChanged()">
    </app-partymember-detail>
  </div>
</div>


