<!--<nav class="">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <a href="#" class="navbar-brand">Genshin Impact Party Manager</a>-->
<!--    </div>-->
<!--    <div class="collapse navbar-collapse">-->
<!--      <ul class="nav navbar-nav navbar-right">-->
<!--        <li class="dropdown" appDropdown>-->
<!--          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a href="#">Save Data</a></li>-->
<!--            <li><a href="#">Fetch Data</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<nz-page-header>
  <nz-avatar nzShape="square" nzSize="large" nz-page-header-avatar nzSrc="assets/favicon.png"></nz-avatar>
  <nz-page-header-title>
    Genshin Impact Party Calculator
  </nz-page-header-title>
  <nz-page-header-subtitle>

  </nz-page-header-subtitle>
  <nz-page-header-tags>

  </nz-page-header-tags>
  <nz-page-header-extra>
    <a href='https://ko-fi.com/T6T11B137' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi2.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
  </nz-page-header-extra>
</nz-page-header>
