<div class="row">
  <div class="col-xs-3 text-center" style="align-content: center;">
    <div>
      <nz-radio-group [(ngModel)]="displayMode">
        <label nz-radio-button nzValue="portrait">Portrait</label>
        <label nz-radio-button nzValue="card">Card</label>
      </nz-radio-group>
    </div>
    <div>
      <img [src]="displayMode === 'portrait' ? this.member.character.portrait : this.member.character.card"
           [alt]="this.displayMode"
           style="max-height: 250px;">
    </div>
  </div>
  <div class="col-xs-6">
    <div>
      <div class="character-tier" [ngClass]="member.character.tier">
        {{ this.member.character.tier }}
      </div>
      <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
        <nz-avatar [nzSrc]="'assets/elements/' + this.member.character.element + '.png'"
                   nzGap="10"
                   nzShape="square"
                   [nzText]="this.member.character.element"
                   style="flex-shrink: 3; margin-right: 1%;">
        </nz-avatar>
        <h3>
          {{ this.member.character.name }}
        </h3>
      </div>
      <fa-icon *appRepeat="this.member.character.rarity" [icon]="faRegularStar" style="color: gold;"></fa-icon>
    </div>
    <div>
      <nz-tabset nzTabPosition="left">
        <nz-tab nzTitle="About">
          <nz-descriptions nzBordered [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }">
            <nz-descriptions-item nzTitle="Description">{{ member.character.description }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Motto">{{ member.character.motto }}</nz-descriptions-item>
          </nz-descriptions>
        </nz-tab>
        <nz-tab nzTitle="Info">
          Info
        </nz-tab>
        <nz-tab nzTitle="Description">
          Description
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
  <div class="col-xs-1">
    <button nz-button
            nzDanger
            (click)="onCloseDetail()"
            nz-tooltip="Close details"
    >
      <fa-icon [icon]="faWindowClose"></fa-icon>
    </button>
  </div>
</div>
