<div class="row">
  <div class="col-xs-12">
    <h3 i18n="Add party member">Add a party member: </h3>
    <nz-select nzShowSearch
               nzPlaceHolder="Select a character"
               class="pseudo-fullwidth"
               [(ngModel)]="selectValue"
               (ngModelChange)="onCharacterSelected($event)"
               [nzDisabled]="party.length > 9"
    >
      <nz-option nzCustomContent
                 *ngFor="let character of characters.characters"
                 [nzLabel]="localization.get(character.id).name"
                 [nzValue]="character"
                 [nzDisabled]="party.contains(character.id)"
      >
        <div>
          <div class="pull-left">
            <img [src]="'https://ik.imagekit.io/AstralJaeger/tr:w-50,h-50,c-force/GC/character_icons/' + character.id + '.png'"
                 [alt]="character.id"
                 style="max-height: 20px;">
            {{ localization.get(character.id).name }}
            <fa-icon *ngIf="character.isNew"
                     [icon]="['fas', 'bell']"
                     style="color: gold;"></fa-icon>
            <fa-icon *ngIf="party.contains(character.id)"
                     [icon]="['fas','exclamation-triangle']"></fa-icon>
          </div>
          <div class="pull-right">
            <img [src]="'https://ik.imagekit.io/AstralJaeger/tr:w-50,h-50,c-force/GC/elements_icons/' + character.element + '.png'"
                 [alt]="character.element"
                 style="max-height: 20px;">
            <img [src]="'https://ik.imagekit.io/AstralJaeger/tr:w-50,h-50,c-force/GC/weapontypes_icons/' + character.weaponType + '.png'"
                 [alt]="character.weaponType"
                 style="max-height: 20px;">
          </div>
        </div>
      </nz-option>
    </nz-select>
  </div>
</div>
<nz-divider nzText="Party" nzOrientation="left"></nz-divider>
<div class="row">
  <nz-table [nzData]="party.members"
            nzShowPagination="false" >
    <thead>
      <tr>
        <th id="enabled_header">Enabled</th>
        <th id="name_header">Name</th>
        <th id="ascension_header" *appMedia="'(min-width: 600px)'">Ascension</th>
        <th id="talent_header" *appMedia="'(min-width: 600px)'">Talent</th>
        <th id="weapon_header" *appMedia="'(min-width: 600px)'">Weapon</th>
        <th id="artifacts_header" *appMedia="'(min-width: 600px)'">Artifacts</th>
        <th id="controls_header"></th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      <tr *ngFor="let member of party.members" cdkDrag>
        <td id="enabled_col">
          <nz-switch [(ngModel)]="member.include" (ngModelChange)="onMemberChanged()"></nz-switch>
        </td>
        <td id="name_col">
          <nz-avatar [nzSrc]="'https://ik.imagekit.io/AstralJaeger/GC/character_icons/' + member.characterId + '.png'"></nz-avatar>
          {{ localization.get(member.characterId).name }}
        </td>
        <td id="ascension_col" *appMedia="'(min-width: 600px)'">
          <nz-switch [(ngModel)]="member.enableAscension" (ngModelChange)="onMemberChanged()"></nz-switch>
        </td>
        <td id="talent_col" *appMedia="'(min-width: 600px)'">
          <nz-switch [(ngModel)]="member.enableTalents" (ngModelChange)="onMemberChanged()"></nz-switch>
        </td>
        <td id="weapon_col" *appMedia="'(min-width: 600px)'">
          <nz-switch [nzDisabled]="!member.weaponId" [(ngModel)]="member.enableWeapon" (ngModelChange)="onMemberChanged()"></nz-switch>
        </td>
        <td id="artifacts_col" *appMedia="'(min-width: 600px)'">
          <nz-switch [(ngModel)]="member.enableArtifacts" (ngModelChange)="onMemberChanged()"></nz-switch>
        </td>
        <td id="controls_col">
          <nz-button-group>
            <button nz-button
                    nzType="primary"
                    (click)="onSelected(member)">
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            </button>
            <button nz-button
                    nzType="danger"
                    nz-popconfirm
                    [nzCondition] = "forceDelete"
                    nzPopconfirmTitle="Are you sure you want to remove this character form your party?"
                    (nzOnConfirm)="onRemoved(member)">
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
