<div class="row">
  <div class="col-xs-12">
    <h3 i18n="Add party member">Add a party member: </h3>
    <nz-select nzShowSearch
               nzPlaceHolder="Select a character"
               class="pseudo-fullwidth"
               [(ngModel)]="selectValue"
               (ngModelChange)="onCharacterSelected($event)"
               [nzDisabled]="party.length > 9"
    >
      <nz-option nzCustomContent
                 *ngFor="let character of characters.characters"
                 [nzLabel]="localization.get(character.id).name"
                 [nzValue]="character"
                 [nzDisabled]="party.contains(character.id)"
      >
        <div>
          <div class="pull-left">
            <img [src]="'assets/icons/' + character.id + '.png'"
                 [alt]="character.id"
                 style="max-height: 20px;">
            {{ localization.get(character.id).name }}
            <fa-icon *ngIf="character.isNew"
                     [icon]="['fas', 'bell']"
                     style="color: gold;"></fa-icon>
            <fa-icon *ngIf="party.contains(character.id)"
                     [icon]="['fas','exclamation-triangle']"></fa-icon>
          </div>
          <div class="pull-right">
            <img [src]="'assets/elements/' + character.element + '.png'"
                 [alt]="character.element"
                 style="max-height: 20px;">
            <img [src]="'assets/weapontypes/' + character.weaponType + '.png'"
                 [alt]="character.weaponType"
                 style="max-height: 20px;">
          </div>
        </div>
      </nz-option>
    </nz-select>
  </div>
</div>
<nz-divider nzText="Party" nzOrientation="left"></nz-divider>
<div class="row">
  <nz-table [nzData]="party.members"
            nzShowPagination="false" >
    <thead>
      <tr>
        <th id="enabled">Enabled</th>
        <th id="name">Name</th>
        <th id="ascension" *appMedia="'(min-width: 600px)'">Ascension</th>
        <th id="talent" *appMedia="'(min-width: 600px)'">Talent</th>
        <th id="weapon" *appMedia="'(min-width: 600px)'">Weapon</th>
        <th id="artifacts" *appMedia="'(min-width: 600px)'">Artifacts</th>
        <th id="controls"></th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      <tr *ngFor="let member of party.members" cdkDrag>
        <td>
          <nz-switch [(ngModel)]="member.include"></nz-switch>
        </td>
        <td>
          <nz-avatar [nzSrc]="'/assets/icons/' + member.character_id + '.png'"></nz-avatar>
          {{ localization.get(member.character_id).name }}
        </td>
        <td *appMedia="'(min-width: 600px)'">
          <nz-switch [(ngModel)]="member.enable_ascension"></nz-switch>
        </td>
        <td *appMedia="'(min-width: 600px)'">
          <nz-switch [(ngModel)]="member.enable_talents"></nz-switch>
        </td>
        <td *appMedia="'(min-width: 600px)'">
          <nz-switch [(ngModel)]="member.enable_weapon"></nz-switch>
        </td>
        <td *appMedia="'(min-width: 600px)'">
          <nz-switch [(ngModel)]="member.enable_artifacts"></nz-switch>
        </td>
        <td>
          <nz-button-group>
            <button nz-button
                    nzType="primary"
                    (click)="onSelected(member)">
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            </button>
            <button nz-button
                    nzType="danger"
                    nz-popconfirm
                    [nzCondition] = "forceDelete"
                    nzPopconfirmTitle="Are you sure you want to remove this character form your party?"
                    (nzOnConfirm)="onRemoved(member)">
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<!-- Exclude
<nz-divider></nz-divider>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group-item clearfix" style="display: flex; flex-wrap: wrap; align-items: center">
        <h4 i18n="Party member list header" style="flex-grow: 4">Your party</h4>
        <nz-switch nzSize="small"
                   nz-tooltip="Don't ask again"
                   [(ngModel)]="forceDelete">
        </nz-switch>
    </div>
    <div *ngIf="party.members.length != 0; else emptyParty">
      <app-partymember *ngFor="let member of party.members"
                       [member]="member"
                       (memberDisabled)="onMemberChanged()"
                       (memberSelected)="onSelected(member)"
                       (memberRemoved)="onRemoved(member)"
                       [forceDelete]="forceDelete"
      >
      </app-partymember>
    </div>
    <ng-template #emptyParty>
      <div>
        <nz-empty [nzNotFoundFooter]="footerTpl">
          <ng-template #footerTpl>
            <button nz-button
                    nzType="primary"
                    (click)="onAddDefaultData()"
                    i18n="Add default party">
              Add default party
            </button>
          </ng-template>
        </nz-empty>
      </div>
    </ng-template>
  </div>
</div>-->
