.column {
  padding: 0 2.5px 0 2.5px;
}

.column-header {
  margin-bottom: 5px;
}

.column-empty {
  text-align: center;
}

.ant-tag {
  color: red;
  background-color: lighten(red, 25%);
  border: red;
}
