<div class="row">
  <div nz-row>
    <div nz-col nzSpan="6" nzOffset="18">
      <nz-switch [(ngModel)]="onlyToday"></nz-switch> Only show current day
    </div>
  </div>
    <div *ngFor="let day of days; let i = index">
      <nz-divider [nzText]="day"
                  [nzDashed]="i === today && !onlyToday"
                  nzOrientation="left">
      </nz-divider>
      <div nz-row class="column-header">
        <div nz-col nzSpan="8" class="column"><strong>Character</strong></div>
        <div nz-col nzSpan="8" class="column"><strong>Weapons</strong></div>
        <div nz-col nzSpan="8" class="column"><strong>Artifacts</strong></div>
      </div>
      <div nz-row>
        <div nz-col id="schedule_character" nzSpan="8" class="column">
            <ng-container *ngIf="characterDayBins.get(i).length !== 0; else emptyTpl">
              <ng-container *ngFor="let src of characterDayBins.get(i); let i = index">
                <nz-card [nzTitle]="src.source.name ? src.source.name : src.source.id"
                         [ngStyle]="{'margin-top': i === 0 ? '0' : '5px'}"
                         [nzBodyStyle]="{'padding': '0px 5px 0px 5px'}"
                         nzHoverable>
                  <nz-list nzSize="small">
                      <nz-list-item *ngFor="let entry of src.materials | keyvalue" style="display: flex; flex-wrap: wrap">
                        <div class="list-item-container">
                          <nz-list-item-meta class="list-item-avatar"
                                             [nzAvatar]="'https://ik.imagekit.io/AstralJaeger/tr:w-50,h-50,c-force/GC/material_icons/' + entry.key + '.png'">
                          </nz-list-item-meta>
                          <nz-list-item-meta-title class="list-item-title">
                            {{ src.amounts.get(entry.key) }}<span>&#215;</span> {{ localization.get(entry.key).name }}
                          </nz-list-item-meta-title>
                        </div>
                        <div class="list-item-tags">
                          <nz-tag *ngFor="let character of entry.value"
                                  [ngClass]="character.element.toLowerCase()">
                            {{ localization.get(character.id).name }}
                          </nz-tag>
                        </div>
                      </nz-list-item>
                  </nz-list>
                </nz-card>
              </ng-container>
            </ng-container>
            <ng-template #emptyTpl>
            </ng-template>
          </div>
        <div nz-col id="schedule_weapon" nzSpan="8" class="column">
          <ng-container *ngIf="weaponDayBins.get(i).length !== 0; else emptyTpl">
            <ng-container *ngFor="let src of weaponDayBins.get(i); let i = index">
              <nz-card [nzTitle]="src.source.description ? src.source.description : src.source.id"
                       [ngStyle]="{'margin-top': i === 0 ? '0' : '5px'}"
                       [nzBodyStyle]="{'padding': '0px 5px'}"
                       nzHoverable>
                <nz-list nzSize="small">
                  <nz-list-item *ngFor="let entry of src.materials | keyvalue">
                    <div class="list-item-container">
                      <nz-list-item-meta class="list-item-avatar"
                                         [nzAvatar]="'https://ik.imagekit.io/AstralJaeger/tr:w-50,h-50,c-force/GC/material_icons/' + entry.key + '.png'">
                      </nz-list-item-meta>
                      <nz-list-item-meta-title class="list-item-title">
                        {{ src.amounts.get(entry.key) }}<span>&#215;</span> {{ localization.get(entry.key).name }}
                      </nz-list-item-meta-title>
                    </div>
                    <div class="list-item-tags">
                      <nz-tag *ngFor="let weapon of entry.value"
                              [ngClass]="weapon.element.toLowerCase()">
                        {{ localization.get(weapon.id).name }}
                      </nz-tag>
                    </div>
                  </nz-list-item>
                </nz-list>
              </nz-card>
            </ng-container>
          </ng-container>
          <ng-template #emptyTpl>
          </ng-template>
        </div>
        <div nz-col id="schedule_artifact" nzSpan="8" class="column">
          <ng-container *ngIf="false; else emptyTpl">
            <nz-card nzTitle="Test"></nz-card>
          </ng-container>
          <ng-template #emptyTpl>
          </ng-template>
        </div>
      </div>
    </div>
  <div *onlyDevMode style="margin-top: 20px;">
    <ul>
      <li *ngFor="let entries of characterDayBins | keyvalue; let i = index">{{ days[i] }}
        <ul *ngIf="entries !== null || entries !== undefined">
          <li *ngFor="let srcEntry of entries.value">
            {{ srcEntry.source.id | uppercase}}
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li *ngFor="let entry of weaponSourceBins | keyvalue">{{ entry.key }}</li>
    </ul>
  </div>
</div>
