@import 'src/element_colors';

.column {
  padding: 0 2.5px;
}

.column-header {
  margin-bottom: 5px;
}

.column-empty {
  text-align: center;
}

.list-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-item-avatar {
  flex-grow: 0;
}

.list-item-title {
  flex-grow: 4;
}

.list-item-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ant-tag {
  flex-grow: 2;
  font-weight: bold;
  margin: 2px;
}

.anemo {
  background-color: $anemo-bg;
  border: $anemo-fg solid 1px;
  color: $anemo-fg;
}

.cryo {
  background-color: $cryo-bg;
  border: $cryo-fg solid 1px;
  color: $cryo-fg;
}

.electro {
  background-color: $electro-bg;
  border: $electro-fg solid 1px;
  color: $electro-fg;
}

.dendro {
  background-color: $dendro-bg;
  border: $dendro-fg solid 1px;
  color: $dendro-fg;
}

.geo {
  background-color: $geo-bg;
  border: $geo-fg solid 1px;
  color: $geo-fg;
}

.hydro {
  background-color: $hydro-bg;
  border: $hydro-fg solid 1px;
  color: $hydro-fg;
}

.pyro {
  background-color: $pyro-bg;
  border: $pyro-fg solid 1px;
  color: $pyro-fg;
}
