.character-meta {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,.23), 0 3px 6px rgba(0,0,0,.16);
  background: #36384a;
  margin-right: 20px;
  z-index: 3;
}

.character-icon {
  width: 100%;
  border-radius: 4px;
}

.character-rarity {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.character-type {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 32px;
  height: 32px;
  background: #36384a;
  border-radius: 100px;
  padding: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,.23), 0 3px 6px rgba(0,0,0,.16);
}
