<div class="list-group-item clearfix" style="display: flex; flex-wrap: wrap; align-items: center">
    <nz-switch [(ngModel)]="member.include"
               nzSize="small"
               nz-tooltip="Include in Schedule/Summary"></nz-switch>
    <nz-avatar [nzSrc]="member.character.icon" nzAlt="icon" nzGap="1" nzSize="large"></nz-avatar>
    {{member.character.name}}
    <nz-button-group style="order: 5">
      <button nz-button
              nzType="primary"
              (click)="onSelected()">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button nz-button
              nzType="danger"
              nz-popconfirm
              [nzCondition] = "forceDelete"
              nzPopconfirmTitle="Are you sure you want to remove this character form your party?"
              (nzOnConfirm)="onRemove()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </nz-button-group>
</div>
